* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    36deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 74, 87, 1) 100%
  );
}

#app {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 900px;
}

.box {
  overflow: hidden;
}

.box ul {
  display: table;
  table-layout: fixed;
}

.box li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  list-style: none;
}

.box li img {
  object-fit: contain;
}

.arrow {
  cursor: pointer;
  display: block;
  height: 50px;
  width: 50px;
}
